*{
    margin: 0;  
    padding: 0; 
    
    }
  

body{
    background-image: url(/src/img/pexels-eberhard-grossgasteiger-2310713.jpg);
}
main{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.calculadora{
    position: absolute;
    background-color: rgb(0, 0, 0.8);
    border: 1px solid green;
    background-color: rgb(15, 9, 68);

    left: 50%;
    transform: translate(-50%, 40%);
    border-radius: 15px;
    padding: 15px;
}
.botao{
    border: none;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(61, 103, 230);
   color: white;
   margin: 3px;
   border-radius: 5px;
   font-weight: 1000;
   border: 2px solid white;
}
.botao:hover{
    background-color: rgb(15, 9, 68);

}
#resultado{
    height: 30px;
    width: 207px;
    margin: 5px;
    padding: 5px;
    background-color: white;
    color: black;
    font-size: 25px;
    text-align: right;
    border-radius: 5px;
}

#dividir{

   height: 46px;
   width: 50px;
}
#apagar{
    height: 45px;
    width: 40px;
}